doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")/
		link(rel="stylesheet" href="css/style.css")
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="#{meta.description}")
		link(rel="stylesheet" href="css/style.css")
	body
		!= yield
		script(src="build/script.js")